Source: systemd-zram
Section: admin
Priority: optional
Maintainer: наб <nabijaczleweli@nabijaczleweli.xyz>
Standards-Version: 4.5.0
Rules-Requires-Root: no
Vcs-Git: https://github.com/nabijaczleweli/systemd-zram-generator.deb.git
Vcs-Browser: https://github.com/nabijaczleweli/systemd-zram-generator.deb
Homepage: https://github.com/systemd/zram-generator
Build-Depends: debhelper,
               debhelper-compat (= 12),
               cargo,
               pkg-config,
               systemd,
               ronn (>= 0.9.0),
#              ^ ronn before that fails with regex+locale related errors
               locales,
#              ^ we need to generate some locales for ronn

Package: systemd-zram
Architecture: linux-any
Recommends: systemd
Depends: ${misc:Depends},
         ${shlibs:Depends},
Tag: implemented-in::rust, role::program
Replaces: systemd-zram-generator (<< 0.1.2+ng3~callback-generator-plus-features-6~)
Breaks: systemd-zram-generator (<< 0.1.2+ng3~callback-generator-plus-features-6~)
Description: swap-create@.service and swap unit generator for zram devices
 Provides generator to manage zram swap based on the config file at
 /etc/systemd/zram-generator.conf
 .
 The distribution default is to provide no zram devices,
 those will have to be configured manually by the administrator

Package: systemd-zram-generator
Section: oldlibs
Architecture: all
Depends: systemd-zram,
         ${misc:Depends},
Description: transitional package
 This is a transitional package. It can safely be removed.
